@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
   font-family: sans-serif;
   color: #354358;
} */

/* default text color */
body {
  color: #354358;
  background-image: url("../public/images/arcadieBackGround.png") !important;
  background-repeat: repeat-y;
  background-size: 100% auto;
}
